@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	color: white;
	padding: 0pt;
	margin: 0pt;
	font: 12pt Verdana;		
}

.titlePanel {
	border-radius: 3pt;
	border: 1pt outset #a0a0d0;
	margin: 0pt;
	height: 70pt;
}

#IndexPage .titlePanel {
	border: none;
}

#IndexPage .page {
	background: linear-gradient(to top, #505060, #606070);
}

#ExposurePage .titlePanel {
	background: linear-gradient(to top, #000050, #c0c0d0);
}

#ExposurePage .page {
	background: linear-gradient(to top, #505060, #606070);
}

#RiskPage .titlePanel {
	background: linear-gradient(to top, #202000, #d0d0d0);
	border: 1pt outset #d0d0a0;
}

#RiskPage .page {
	background: linear-gradient(to top, #606050, #707060);
}

#RiskPage .panel {
	background: #303020;
}

#ReportsPage .titlePanel {
	background: linear-gradient(to top, #002000, #c0d0c0);
	border: 1pt outset #d0a0a0;
}

#ReportsPage .page {
	background: linear-gradient(to top, #506050, #607060);
}

#ReportsPage .panel {
	background: #203020;
}

#RegulatorPage .titlePanel {
	background: linear-gradient(to top, #200000, #d0c0c0);
	border: 1pt outset #d0a0a0;
}

#RegulatorPage .page {
	background: linear-gradient(to top, #605050, #706060);
}

#RegulatorPage .panel {
	background: #302020;
}

.panel {
	background: #202030;
	border-radius: 2pt;
	border: 1pt inset #8080a0;
	padding: 5pt;
}

#title {
	height: 60pt;
	width: 350pt;
}

.tab {
	border-radius: 1pt;
	background: #202030;
	color: white;
	display: block;
	float: right;
	text-align: center;
	padding-top: 5pt;
	padding-left: 30pt;
	padding-right: 30pt;
	padding-bottom: 5pt;
	margin-left: 15pt;
	margin-right: 15pt;
	margin-top: -10pt;
	text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}

.formTable th {
	border-top:    1px solid #ffffff;
	border-bottom: 1px solid #202040;
	border-left:   1px solid #ffffff;
	border-right:  1px solid #202040;
	background: #505080;
	color: white;
}

.formTable td {
	border-top:    1px solid #ffffff;
	border-bottom: 1px solid #202040;
	border-left:   1px solid #ffffff;
	border-right:  1px solid #202040;
	background: #a0a0c0;
}

.jumpTable td {
	border-left:   1px solid #c0c0c0;
	border-right:  1px solid #202040;
	background: #202040;
	height: 30pt;
}

.actionBar {
	margin-top: 5pt;
}

.actionButton {
	background:	url("/web/bitrisk/images/bg_rounded_normal.png") no-repeat;
	background-size: 120pt 25pt;
	color: white;
    cursor: pointer;
	width: 120pt;
	height: 25pt;
	border: none;
	text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}

.details {
	font: bold 10pt Courier;
	background: #d0d090;
	margin: 5pt;
	padding: 5pt;
	color: black;	
}

h1 {
	font: bold 18pt Verdana;	
	margin: 0px;
	padding-bottom: 5pt;
	text-align: center;
	text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}

a {
	color: red;
	text-decoration: line;
}

p {
	margin: 0pt;
	padding: 0pt;	
}

select {
	font: bold 12pt Courier;
}

input {
	font: bold 12pt Courier;
}

